Package: rsteye
Version: 1.0.10
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Prince Roshan <princekrroshan01@gmail.com>
Description: Desktop break reminder for Ubuntu graphical sessions.
